.index--main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-container {
    max-width: 916px;
    width: 100%;
    min-height: 614px;
    border-radius: 24px;
    background-color: #EF5B53;
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.employee-container-top {
    max-width: 840px;
    width: 100%;
    min-height: 232px;
    border-radius: 20px;
    /* background-color: cornflowerblue; */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.employee-name-title {
    max-width: 160px;
    width: 100%;
    min-height: 68px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;

    background-color: aliceblue;
}
.employee-name-title h4 {
    max-width: 92px;
    width: 100%;
    min-height: 15px;
    margin-left: 8px;
    font-size: 12px;
    letter-spacing: -0.025em;

    color: #292930;
}
.employee-name-title h2 {
    max-width: 92px;
    width: 100%;
    min-height: 34px;
    margin-left: 8px;
    font-size: 24px;
    letter-spacing: -0.045em;

    color: #292930;
}


.employee-socials {
    max-width: 420px;
    width: 100%;
    min-height: 24px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    align-self:flex-end;

    background-color: white;
}

.employee-socials p {
    max-width: 80px;
    width: 100%;
    min-height: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;

    /* background-color: bisque; */
}

.employee-social-links {
    max-width: 300px;
    width: 100%;
    min-height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: cadetblue; */
}


.employee-container-bottom {
    max-width: 840px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.025em;
    color: #999FAE;

    
    background-color: white;
}

.employee-information {
    max-width: 770px;
    width: 100%;
    min-height: 145px;

    /* background-color: wheat; */
}

.employee-extras {
    max-width: 770px;
    width: 100%;
    min-height: 84px;

    /* background-color: steelblue; */
}